<%- include ("./templates/header") %>

    <section class="carrusel-landingpage">
        <div class="slides-carrusel">
            <img src="/img/c3po-cover.jpg" alt="C3PO-Carrusel">
        </div>
    </section>

    <div class="bienvenida">
        <h2 class="subtitulo">Te damos la bienvenida a </h2>
        <div class="logo-bienvenida d-flex-center">
            <i class="fas fa-compass"></i>
            <p class="texto-logo">L O Z A</p>
        </div>
        <h3>Sea of collectors</h3>
    </div>

    <section class="contenedor-body">
        <h2 class="subtitulo">Funkos destacados</h2>
        <div class="grid-productos">
            <div class="producto">
                <a href="#"> <img src="../img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="../img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="../img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="../img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>
        </div>
    </section>
    <h2 class="subtitulo">Calidad LOZA</h2>
    <section class="info-loza contenedor-body">

        <div>
            <i class="fas fa-heart"></i>
            <div class="texto-info">
                <b>Tus Funkos favoritos en un solo lugar</b>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque enim asperiores sed eum, ratione accusantium officiis placeat ab excepturi maiores eaque consequatur aut! Sunt inventore fugit repellat nihil cumque aspernatur!</p>
            </div>
        </div>

        <div>
            <i class="fas fa-lock"></i>
            <div class="texto-info">
                <b>Seguridad en todas tus compras</b>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque enim asperiores sed eum, ratione accusantium officiis placeat ab excepturi maiores eaque consequatur aut! Sunt inventore fugit repellat nihil cumque aspernatur!</p>
            </div>
        </div>

        <div>
            <i class="fas fa-truck"></i>
            <div class="texto-info">
                <b>Envío gratis a toda la república</b>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque enim asperiores sed eum, ratione accusantium officiis placeat ab excepturi maiores eaque consequatur aut! Sunt inventore fugit repellat nihil cumque aspernatur!</p>
            </div>
        </div>
    </section>

    <h2 class="subtitulo">Algunos comentarios de nuestros clientes</h2>
    <section class="contenedor-body reviews-clientes">
        <div class="review">
            <img src="../img/review-obiwan.png" alt="review-image">
            <div class="texto-review">
                <span>¡Excelente producto!</span>
                <div class="datos-review">
                    <p><b>Gran Z.</b> 12/07/2021</p>

                    <i>El paquete llegó en perfectas condiciones, la figura es excelente. Sin duda compraré más en esta tienda.</i>
                    <div class="puntuacion">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="review">
            <img src="../img/review-heisenberg.png" alt="review-image">
            <div class="texto-review">
                <span>¡Por fin!</span>
                <div class="datos-review">
                    <p><b>Víctor Curiel.</b> 13/03/2020</p>

                    <i>Como un gran fan de Breaking Bad, busqué este funko por años, pero sólo estaba disponible a precios desorbitados. Por fin en Loza pude encontrarlo a un precio razonable. Sin duda esta es una de las mejores tiendas para comprar funkos!!</i>
                    <div class="puntuacion">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include ("./templates/footer") %>