<%- include ("./templates/header") %>

    <section class="encabezado-coleccion cover-coleccion-naruto contenedor-body">
        <h2>NARUTO</h2>
    </section>

    <section class="contenedor-body">
        <div class="filtro-productos d-flex-center">
            <p>Filtrar por:</p>
            <select name="filtro" id="filtro">
                <option value="relevancia">Relevancia</option>
                <option value="precio-alto">Precio - Más alto a más bajo</option>
                <option value="precio-bajo">Precio - Más bajo a más alto</option>
                <option value="alfabetico">Alfabético</option>
              </select>
        </div>
        <div class="grid-productos">
            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>

            <div class="producto">
                <a href="#"> <img src="/img/product-hansolo.jpg" alt=""></a>

                <div class="descripcion-producto">
                    <span class="coleccion-producto">Star Wars</span>
                    <p>Han solo</p>
                    <b>$299</b>
                </div>
            </div>
        </div>
    </section>

    <%- include ("./templates/footer") %>