@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700,900&display=swap");
}

body {
    font-family: "Montserrat", sans-serif;
}

#back-icon {
    filter: invert(1);
}

h1 {
    font-weight: 900;
    font-size: 39.1px;
    letter-spacing: 0.5em;
}

h2 {
    font-weight: 700;
    font-size: 31.3px;
}

h3 {
    font-weight: 400;
    font-size: 23px;
    padding: 30px;
}

.product-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.product-container-image-pane {
    display: flex;
    justify-content: center;
    height: 500px;
    padding-top: 30%;
}

.rounded-divider {
    background-color: darkslategray;
    height: 5px;
    width: 10%;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
}

.product-container-info-pane {
    padding: 50px 10% 0px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.product-container-info-pane h1 {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0;
    margin: 0;
}

.product-controls {
    height: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
}

.icon-container {
    display: flex;
    align-content: center;
    margin: 20px 0px 0px 20px;
}

#related-items-title {
    text-align: center;
}

.related-items-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.related-item img {
    height: 200px;
}

@media (min-width: 1024px) {
    .product-container {
        display: flex;
        justify-content: center;
        padding-top: 20%;
    }

    .product-container-image-pane {
        padding-top: 0%;
    }

    .product-container-info-pane {
        flex-direction: column;
        padding: 50px 5% 0px 5%;
        width: 50%;
    }

    .product-container-info-pane h1 {
        font-size: 50px;
    }

    .rounded-divider {
        display: none;
    }
}
