<footer class="d-flex-center">
    <a href="/">
        <div class="logo">
            <i class="fas fa-compass"></i>
            <p class="texto-logo">L O Z A</p>
        </div>
    </a>

    <div class="sobre-nosotros">
        <span>Sobre nosotros</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis amet in aliquam laudantium, consectetur exercitationem, possimus quidem debitis veritatis nihil facilis similique quasi sequi quas sunt officia harum eum vel.</p>
    </div>

    <div class="sobre-nosotros">
        <span>Contacto</span>
        <p>contacto@loza.com</p>
        <div class="socialmedia">
            <a href="https://facebook.com"><img src="../img/socialmedia/fbWhite.png" alt="iconoFb"></a>
            <a href="https://instagram.com"> <img src="../img/socialmedia/instaWhite.png" alt="iconoIg"> </a>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/landing-page.js"></script>
</body>

</html>