<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/e96f709a7e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,800;1,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>L O Z A - Sea of Collectors</title>
</head>

<body>
    <header>
        <nav class="navbar-tools">
            <a href="/">
                <div class="logo">
                    <i class="fas fa-compass"></i>
                    <p class="texto-logo">L O Z A</p>
                </div>
            </a>

            <div id="textbox-search" class="searchbar d-flex-center">
                <input type="text" id="query-search" placeholder="Encuentra tu Funko favorito...">
                <button id="search-button" type="submit" class="boton-busqueda">
                <i class="fas fa-search"></i>
            </button>
            </div>

            <div class="user-info-navbar d-flex-center">
                <div class="account-info-navbar d-flex-center">
                    <p>Hola, <b>Víctor</b></p>
                    <i class="fa fa-caret-down icono-flecha"></i>
                    <i class="fas fa-user icono-usuario"></i>
                    <div class="dropdown-account">
                        <a href="/account">Mi cuenta</a>
                        <a href="/wishlist">WishList</a>
                        <a href="#">Cerrar sesión</a>
                    </div>
                </div>

                <a href="/cart">
                    <div class="cart-info-navbar d-flex-center">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </a>
            </div>
        </nav>
        </div>

        <div class="colecciones-navbar">
            <a href="#Mobile-colecciones">
                <div id="Menu-colecciones">
                    <li>Nuestras colecciones</li>
                    <i class="fa fa-caret-down"></i>
                </div>
            </a>
            <ul id="Mobile-colecciones" class="display-colecciones-navbar">
                <a href="/todasColecciones">
                    <li>Todas las colecciones</li>
                </a>
                <a href="/breakingbad">
                    <li>Breaking Bad</li>
                </a>
                <a href="/marvel">
                    <li>Marvel</li>
                </a>
                <a href="/mrrobot">
                    <li>Mr. Robot</li>
                </a>
                <a href="/naruto">
                    <li>Naruto</li>
                </a>
                <a href="/starwars">
                    <li>Star Wars</li>
                </a>
            </ul>
        </div>
    </header>